{% load static %}
{% load i18n %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
   
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'htmx.min.js' %}" defer></script>
    {% tailwind_css %}
</head>

<body class="bg-taupe_gray-900">
    {% block sidebar %}

    {% endblock %}
    {% block content %}
   
    {% endblock %}
</body>

</html>