{% load i18n %}

<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md mt-4">
    <h1 class="text-2xl font-bold mb-4">{% trans "Create Playlist" %}</h1>
    <form method="post" hx-post="{% url 'core:playlists' %}" hx-target="#playlist-list" hx-swap="outerHTML">
        {% csrf_token %}
        
        <div class="mb-4">
            <label class="block text-gray-700">{% trans "Name" %}</label>
            {{ form.name }}
        </div>

        <div class="mb-4">
            <label class="block text-gray-700">{% trans "Group" %}</label>
            {{ form.group }}
        </div>

        <div class="mb-4">
            <label class="block text-gray-700">{% trans "Subgroup" %}</label>
            <select name="subgroup" id="id_subgroup" class="w-full p-2 border rounded">
                <option value="">---------</option>
            </select>
        </div>

        <button type="submit" class="bg-delft_blue-700 text-white px-4 py-2 rounded">{% trans "Create" %}</button>
    </form>
</div>

<script>
    document.getElementById('id_group').addEventListener('change', function() {
        var groupId = this.value;
        if (groupId) {
            htmx.ajax('GET', '/get_subgroups/?group_id=' + groupId, { target: '#id_subgroup', swap: 'innerHTML' });
        } else {
            document.getElementById('id_subgroup').innerHTML = '<option value="">---------</option>';
        }
    });
</script>