{% load i18n %}

<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md mt-2">
    <h1 class="text-2xl font-bold mb-4">{% trans "Create Subgroup" %}</h1>
    <form method="post" hx-post="{% url 'core:subgroup_create' %}" hx-target="#group-list" hx-swap="outerHTML">
        <div class="mb-4">
            <label class="block text-gray-700">{% trans "Name" %}</label>
            {{ subgroupform.name }}
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">{% trans "Group" %}</label>
            {{ subgroupform.group }}
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">{% trans "Create" %}</button>
    </form>
</div>